html.isDisabledScrolling body{
  overflow-y: hidden;
}

html, body {
  height: 100%;
}

html {
  touch-action: manipulation;
}

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: 'Targetica';
}

.l-table {
  display: table;
  width: 100%;
}

.l-table-row {
  display: table-row;
  width: 100%;
  &:before, &:after {
    display: none;
  }
}

.l-table-cell, .l-table-row .l-table-cell {
  display: table-cell;
  float: none;
}

.l-table-cell-middle, .l-table-row .l-table-cell-middle {
  @extend .l-table-cell;
  vertical-align: middle;
}

.l-table-cell-bottom, .l-table-row .l-table-cell-bottom {
  @extend .l-table-cell;
  vertical-align: bottom;
}

.l-horizantal-center {
  margin: 0 auto;
}

.l-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.l-vertical-center.l-horizantal-center {
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

body > .ember-application-view {
  height: 100%;
}

.l-content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2.5em;
}

.l-cover-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9997;
}

.row.row-fluid {
  margin-left: 0;
  margin-right: 0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
