/*********************************************************************
                        Mobile First Component Styles (< 480px)
********************************************************************/

.basicButton {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  cursor: pointer;
}

.basicButton.basicButton-default {
  color:#000;
  border-color: #000;
  background-color: #ffffff;
}

.basicButton.basicButton-default:hover,
.basicButton.basicButton-default:focus {
  background-color: #333;
}

.basicButton.basicButton-default:active {
  background-color: #333;
  border-color: #333;
}

.basicButton.basicButton-primary {
  color: #ffffff;
  border-color: #999999;
  background-color: #999999;
}

.basicButton.basicButton-primary:hover,
.basicButton.basicButton-primary:focus {
  background-color: #999999;
  border-color: #999999;
}

.basicButton.basicButton-primary:active {
  background-color: #999999;
  border-color: #999999;
}

.basicButton.basicButton-express {
  color: #999999;
  border-color: none;
  background-color: #ffffff;
  border: 0;
  text-decoration: underline;
}

.basicButton.basicButton-t2express {
  color: #999999;
  border-color: none;
  background-color: #ffffff;
  border: 0;
  border-style: solid;
  border-width: 1px;
}

.basicButton.basicButton-express:hover,
.basicButton.basicButton-express:focus {
  background-color: none;
}


.basicButton.basicButton-link {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}

.basicButton.basicButton-isDisabled {
  cursor: not-allowed;
  color: #000;
  border-color: #000;
  background-color: #999;
}

.basicButton.basicButton-link.basicButton-isDisabled {
  background-color: transparent;
  border-color: transparent;
}

.basicButton.basicButton-isDisabled:focus,
.basicButton.basicButton-link.basicButton-isDisabled:focus,
.basicButton.basicButton-isDisabled:hover,
.basicButton.basicButton-link.basicButton-isDisabled:hover {
  color: #000;
  border-color: #000;
  background-color: #999;
}

.basicButton.basicButton-small {
  font-size: 0.75em;
  padding: 0.416666667em 0.625em;
}

.basicButton.basicButton-medium {
  font-size: 1em;
  padding: 0.625em 0.875em;
}

.basicButton.basicButton-large {
  font-size: 1.125em;
  padding: 0.666666667em 1em;
}

.basicButton.basicButton-isBlock {
  display: block;
  width: 100%;
  margin-bottom: 0.25em;
}

.basicButton.basicButton-isBlock + .basicButton.basicButton-isBlock {
  margin-bottom: 0.5em;
}

.basicButton.basicButton-alignCenter {
  text-align: center;
}

.basicButton.basicButton-alignLeft {
  float: left;
}

.basicButton.basicButton-alignRight {
  float: right;
}

.basicButton-isBlock.basicButton-alignLeft {
  text-align: left;
}

.basicButton-isBlock.basicButton-alignRight {
  text-align: right;
}

.basicButton.basicButton-helper {
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
}
.basicButton.basicButton-icon {
  padding: .33em;
  background: transparent;
  border: 0;
  border-radius: 0;
}
.basicButton.basicButton-underline {
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  text-decoration: underline;
}
.basicButton.basicButton-t2 {
  margin:0 auto;
    display:block;
  background: #fff;
  color: #333;
  border-color: #333;
  padding: 0.625em 0.875em;
}
.basicButton.basicButton-t2-secondary {
  padding: 0.625em 1.875em;
}
.basicButton.basicButton-warning{
  color: #999999;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  text-decoration: underline;
}
.basicButton.basicButton-warning.basicButton-isDisabled {
  background-color: transparent;
  border-color: transparent;
}

/*********************************************************************
                        Small Breakpoint (480px - 599px)
********************************************************************/
@media (min-width: $sm) {

}
/*********************************************************************
                        Medium Breakpoint (600px - 767px)
********************************************************************/
@media (min-width: $md) {

}
/*********************************************************************
                        Large Breakpoint (768px - 999px)
********************************************************************/
@media (min-width: $lg) {

}
/*********************************************************************
                        Extra Large Breakpoint (1000px <)
********************************************************************/
@media (min-width: $xl) {

}
